* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: rgb(13, 3, 24);
  margin: 0;
  color: rgb(205, 205, 214);
}

ul {
  padding: 0;
}

.Books {
  padding: 0 40px;
}

/* start nav section */

.active-link {
  text-decoration: underline;
}

.navBar {
  width: 100%;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}

.nav-list {
  display: flex;
  align-items: center;
}

li.nav-links:first-child {
  font-size: 30px;
}

li.nav-links:first-child > .active-link {
  text-decoration: none;
}

.nav-links {
  margin-right: 20px;
  font-size: 20px;
}

.navigation-menu {
  color: rgb(205, 205, 214);
}

li.nav-links:last-child {
  margin: 0 30px 0 auto;
  border: 1px solid white;
  border-radius: 100px;
}

.login {
  margin: 2px;
}
/* end nav section */

/* start input book section */

.wrapper-input {
  display: flex;
  flex-wrap: nowrap;
  height: 2.813rem;
}

.book-title-input {
  flex: 2 1 auto;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid gray;
}

.book-category-input {
  flex: 1 1 auto;
  margin: 0 2.125rem;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid gray;
}

.book-submit {
  flex: 0.5 1 auto;
  background-color: rgb(75, 75, 233);
  border: 1px solid rgb(101, 99, 211);
  border-radius: 4px;
  color: inherit;
  font-weight: bolder;
}

/* end input book section */

/* start book section */

.book-list-item {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  margin: 0 0 20px 0;
}

.book-info {
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
}

.book-progress {
  flex: 1 1 auto;
}

.book-chapteer {
  flex: 1 1 auto;
}

.book-title {
  font-size: 22px;
  padding: 10px 0;
}

.book-category {
  font-size: 16px;
}

.crud-operations {
  margin-top: 20px;
}

.crud {
  margin: 0 20px 0 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(75, 75, 233);;
}

/* end book section */
