* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: rgb(13, 3, 24);
  margin: 0;
  color: rgb(205, 205, 214);
}

ul {
  padding: 0;
}

.Books {
  padding: 0 40px;
}

/* start nav section */

.active-link {
  text-decoration: underline;
}

.navBar {
  width: 100%;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}

.nav-list {
  display: flex;
  align-items: center;
}

li.nav-links:first-child {
  font-size: 30px;
}

li.nav-links:first-child > .active-link {
  text-decoration: none;
}

.nav-links {
  margin-right: 20px;
  font-size: 20px;
}

.navigation-menu {
  color: rgb(205, 205, 214);
}

li.nav-links:last-child {
  margin: 0 30px 0 auto;
  border: 1px solid white;
  border-radius: 100px;
}

.login {
  margin: 2px;
}
/* end nav section */

/* start input book section */

.wrapper-input {
  display: flex;
  flex-wrap: nowrap;
  height: 2.813rem;
}

.book-title-input {
  flex: 2 1 auto;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid gray;
}

.book-category-input {
  flex: 1 1 auto;
  margin: 0 2.125rem;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid gray;
}

.book-submit {
  flex: 0.5 1 auto;
  background-color: rgb(75, 75, 233);
  border: 1px solid rgb(101, 99, 211);
  border-radius: 4px;
  color: inherit;
  font-weight: bolder;
  cursor: pointer;
}

/* end input book section */

/* start book section */

.book-list-item {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  margin: 0 0 20px 0;
}

.book-info {
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
}

.book-progress {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.book-chapteer {
  flex: 1 1 auto;
}

.book-title {
  font-size: 22px;
  padding: 10px 0;
}

.book-category {
  font-size: 16px;
}

.crud-operations {
  margin-top: 20px;
}

.crud {
  margin: 0 20px 0 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(75, 75, 233);
  cursor: pointer;
}

/* end book section */

/* start progress section */
.padding {
  padding: 10rem !important
}

.progress {
  width: 100px;
  height: 100px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1
}

.progress .progress-left {
  left: 0
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left
}

.progress .progress-right {
  right: 0
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards
}

.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #44484b;
  font-size: 24px;
  color: #fff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%
}

.progress.blue .progress-bar {
  border-color: #049dff
}

.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s
}

.progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s
}

.progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s
}

.progress-left .progress-bar {
  animation: loading-5 1.2s linear forwards 1.8s
}

@keyframes loading-1 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg)
  }
}

@keyframes loading-2 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg)
  }
}

@keyframes loading-3 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg)
  }
}

@keyframes loading-4 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg)
  }
}

@media only screen and (max-width: 990px) {
  .progress {
      margin-bottom: 20px
  }
}

.percentage {
  font-size: 35px;
}

.progress-container {
  display: flex;
  align-items: center;
}

.completed {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

/* end progress section */

/* start chapteer section */

.book-chapteer {
  display: flex;
  flex-direction: column;
}

.chapter-items {
  margin-bottom: 10px;
  font-size: 17px;
}

.update-progress {
  padding: 10px 40px;
  background-color: rgb(75, 75, 233);
  border: 1px solid rgb(84, 84, 196);
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
}
/* end chapteer section */
